<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Piechart demo</title>

    <style>
        ul { list-style: none; padding: 0; }
        li { margin: 5px 0; text-align: center; }
        /*input { height: 20px; }*/
        #main { width: 250px; margin: 0 auto; }
    </style>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-daterangepicker/daterangepicker.css">
</head>
<body>
<div id="main" ng-controller="DemoController as demo">
    <iq-piechart class="chart" items="demo.items" config="demo.config"></iq-piechart>
    <a href ng-click="demo.addItem()">add</a>
    <ul>
        <li ng-repeat="item in demo.items" style="background-color: {{ demo.color(item.id) }}">
            <span>{{ item.id }}</span>
            <input type="number" ng-model="demo.items[$index].val"/>
            <button href ng-click="demo.removeItem($index)">del</button>
        </li>
    </ul>

    <hr>

    <input type="text" iq-daterange-picker ng-model="demo.range">
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js" data-main="demo"></script>
</body>
</html>
